body {
    background-image: url('../images/secondBackground-grey.jpg');
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: top;
    font-family: "Exo";
  }
  header {
    background: repeating-linear-gradient(-45deg, #838383, #2c2c2c, #838383, #2c2c2c);
    background-repeat: repeat-x;
    background-size: 600% 100%;
    animation: gradient 100s linear infinite;
    padding: 10px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vh);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
nav ul {
display: flex;
list-style: none;
padding: 0;
gap: 5vw;
}

nav ul li {
display: inline;
}

nav ul li a {
color: #fff;
text-decoration: none;
}
nav .index{
    font-family: "ExoBold";
}
h1{
    text-align: center;
    font-family: "BigJohnReg";
    font-size: 4vw;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 7vw;
  }

  .image-container {
    display: flex;
    position: relative;
    width: 30%;
    justify-content: center;
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }

  .image-container:hover img {
    transform: scale(1.1) rotate(1.5deg);
  }

  .description {
    width: 30%;
    font-size: 1vw;
    
  }
  .description a{
      text-decoration: none;
  }
  .description h2{
    margin-top: 0;
  }

  .popup {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    color: #fff;
    font-size: 11px;
    line-height: 1.5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  
  .popup .links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1vw;
  }

  .popup .links-container a {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    width: 33%;
    text-decoration: none;
  }
  .popup .links-container a:hover {
    text-decoration: underline;
  }

  .popup .links-container a img {
    margin-right: 20%;
    width: 2vw;
    height: auto;

  }

  .image-container:hover  .popup {
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 0 5vw rgba(0, 0, 0, 1)
  }

  .popup a {
    color: #fff;
    text-decoration: underline;
  }
  h1{
      justify-self: center;
  }

  @media (orientation: portrait) and (max-width: 600px){
    body {
      background-image: url('../images/secondBackground-grey.jpg');
      background-color: #f2f2f2;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      height: 100vh;
      background-position: top;
      font-family: "Exo";
    }
    header {
      background: repeating-linear-gradient(-45deg, #838383, #2c2c2c, #838383, #2c2c2c);
      background-repeat: repeat-x;
      background-size: 600% 100%;
      animation: gradient 100s linear infinite;
      padding: 0;
        height: 5%;
        width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(1.5vh);
    }
  
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
  nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 5vw;
  }
  
  nav ul li {
  display: inline;
  }
  
  nav ul li a {
  color: #fff;
  text-decoration: none;
  }
  nav .index{
      font-family: "ExoBold";
  }
  h1{
      text-align: center;
      font-family: "BigJohnReg";
      font-size: 4vw;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 30px;
  }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      gap: 7vw;
    }
  
    .image-container {
      display: flex;
      position: relative;
      width: 30%;
      justify-content: center;
    }
  
    .image-container img {
      width: calc(65vw);
      height: auto;
      object-fit: cover;
      box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border-radius: 10px;
    }
  
    .image-container:hover img {
      transform: scale(1.1) rotate(1.5deg);
    }
  
    .description {
      width: 65vw;
      font-size: calc(1vw + 1vh);
      font-weight: 600;
      
    }
    .description a{
        text-decoration: none;
    }
    .description h2{
      margin-top: 0;
    }
  
    .popup {
      position: absolute;
      top: 0;
      left: -60%;
      transform: translate(-50%, -50%);
      width: 65vw;
      height: 55vw;
      padding: 5%;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
      border-radius: 10%;
      color: #fff;
      font-size: 11px;
      line-height: 1.5;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    
    .popup .links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: calc(1vw + 2vh);
    }
  
    .popup .links-container a {
      margin-bottom: 5%;
      display: flex;
      align-items: center;
      width: 33%;
      text-decoration: none;
    }
    .popup .links-container a:hover {
      text-decoration: underline;
    }
  
    .popup .links-container a img {
      margin-right: 20%;
      width: 5vw;
      height: auto;
  
    }
  
    .image-container:hover  .popup {
      opacity: 1;
      pointer-events: auto;
      box-shadow: 0 0 5vw rgba(0, 0, 0, 1)
    }
  
    .popup a {
      color: #fff;
      text-decoration: underline;
    }
    h1{
        justify-self: center;
        font-size: calc(10px + 7vw);
    }
  }