body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Exo";
    
  }

  header {
    background: repeating-linear-gradient(-45deg, #ff5500, #0084ff, #ff5500, #0084ff);
    background-repeat: repeat-x;
    background-size: 600% 100%;
    animation: gradient 100s linear infinite;
    padding: 10px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vh);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
nav ul {
display: flex;
list-style: none;
padding: 0;
gap: 5vw;
}

nav ul li {
display: inline;
}

nav ul li a {
color: #fff;
text-decoration: none;
}
nav .index{
    font-family: "ExoBold";
   
}
  

  .container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
          background-color: #f2f2f2;
          background-repeat: no-repeat;

          background-attachment: fixed; /* Added this line */
  }

  .hero-content {
    text-align: center;
    margin-bottom: 5%;
  }

  .hero-content h1{
    font-family: "Ykar";
    font-size:calc(40px + 8.5vw);
    
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-content h2{
    font-size:calc(15px + 3vw);
    background: linear-gradient(to right, rgb(205, 0, 0), rgb(0, 0, 205));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3%;
    margin-top: -2%;
  }

  .link-container{
    display: flex;
    justify-content: center;
    gap: 2%;
  }

  .cta-button {
    display: inline-block;
    background-color: #ff5233;
    color: #fff;
    font-size: 1.2vw;
    padding: 1.5% 3%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
  }

  .cta-button:hover {
    background-color: rgb(214, 145, 16);
    transform: scale(1.08);
  }

  @media (orientation: portrait) and (max-width: 600px){
    body {
      overflow-y: hidden;
      overflow-x: hidden;
      font-family: "Exo";
      width: 100vw;
      height: 100vh;
    }
  
    header {
      background: repeating-linear-gradient(-45deg, #ff5500, #0084ff, #ff5500, #0084ff);
      background-repeat: repeat-x;
      background-size: 600% 100%;
      animation: gradient 100s linear infinite;
      height: 5%;
      width: 100%;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(1.5vh);
      position: relative;
    }
    nav{
      overflow-x: hidden;
    }
  
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
  nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 5vw;
  }
  
  nav ul li {
  display: inline;
  }
  
  nav ul li a {
  color: #fff;
  text-decoration: none;
  }
  nav .index{
      font-family: "ExoBold";
     
  }
    
  
    .container {
      background-image: url('../images/background.jpg');
      background-size: cover;
      background-position:top;
      height: 95%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
            background-color: #f2f2f2;
            background-repeat: no-repeat;
  
            background-attachment: fixed; /* Added this line */
    }
  
    .hero-content {
      text-align: center;
      margin-bottom: 5%;
      
    }
  
    .hero-content h1{
      font-family: "Ykar";
      font-size:calc(10px + 11vw);
      margin-bottom: 1%;
      background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .hero-content h2{
      font-size:calc(10px + 3vw);
      background: linear-gradient(to right, rgb(205, 0, 0), rgb(0, 0, 205));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 5%;
      margin-top: -2%;
    }
  
    .link-container{
      display: flex;
      justify-content: center;
      gap: 2%;
      
    }
  
    .cta-button {
      display: inline-block;
      background-color: #ff5233;
      color: #fff;
      font-size: 2vw;
      padding: 2% 4%;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      transition: 0.5s;
      vertical-align: center;
    }
  
  }
