/* CSS for styling */
body {
    background-image: url('../images/secondBackground.jpg');
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Added this line */
    background-position: top;
    margin: 0;
    font-family: "Exo";
}

header {
    background: repeating-linear-gradient(-45deg, #c08300, #3b3b3b, #c08300, #3b3b3b);
    background-repeat: repeat-x;
    background-size: 600% 100%;
    animation: gradient 100s linear infinite;
    padding: 10px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vh);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5vw;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav .index{
    font-family: "ExoBold";
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.title {
    font-family: "BigJohnReg";
    text-align: center;
    font-size: 4vw;
    margin: 0;
    margin-bottom: 30px;
}



.dropdown {
    cursor: pointer;
    text-align: center;
    position: relative;
    display: flex;
    /* Added this line */
    justify-content: center;
    width: 100%;
    margin-top: -2px;
}

.dropdown h3 span {
    margin-left: 3%;
    transition: transform 0.1s ease;
}

.dropdown.open h3 span {
    transform: rotate(180deg);
}

.dropdown h3 {
    margin: 0;
    background-color: #fdb009;
    color: rgb(27, 27, 27);
    font-size: calc(8px + .8vw);
    border: 2px solid #1b1b1b;
    border-radius: 2px;
    /* Added this line */
    padding: 1.5% 3%;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-dropdown-closed h3 {
    border-bottom: 2px solid #580000;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0;
    width: 99.5%;
    height: calc(100% - 3px);
    z-index: 1;
    background-color: #ffc525;
    color: rgb(0, 0, 0);
    font-size: calc(8px + .5vw);
    top: 100%;
    /* Updated this line */
    border: 1px solid #1b1b1b;
    /* Added this line */
    cursor:default;
}
.dropdown-content p{
    padding-left: 5%;
    padding-right: 5%;
}